@charset "utf-8";
/* CSS Document */
/* Start Menu Bar */
.logo {
  display: inline-block;
  width: auto;
  height: 95px;
  margin-right: 0;
  float: left;
  border-style: solid;
  border-radius: 50px;
  border-color: #4f4f4f;
}
.navigation-bar {
  width: 100%;
  height: 100px;
  background-color: transparent;
  font-family: 'Rubik', sans-serif;
  display: inline-block;
  border-bottom: 5px solid #8c8c8c;
}
.navigation-bar > a {
  display: inline-block;
  margin-right: 20px;
  height: 80px;
  line-height: 80px;
  float: right;
}
.navigation-bar li {
  float: left;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Rubik', sans-serif;
  border-left: .5px solid #ffffff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
li a {
  text-decoration: none;
  padding: 20px;
  height: 40px;
}
ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  font-size: 20px;
  margin-right: 0;
  margin-left: auto;
  width: auto;
  float: right;
  /*margin-top:-10px;*/
}
li {
  float: left;
  display: inline-block;
  color: #575a60;
  text-align: center;
  background-color: #8c8c8c;
}
a:link, :visited {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
}
a:hover {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  background-color: #2848ac;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
a:active {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  background-color: #2848AC;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/*End Menu Bar*/
body {
  background: url("resources/images/background.svg") no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  min-width: 50%;
}
iframe {
	margin-top: 100px;
}
/*Background Attribution Bar*/
.attribution {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
/*Background Attribution Bar End*/